body{
    background-color: rgb(11, 11, 95);
    user-select: none;
    text-align: center;
}

img{
  width: 50px;
  height: 50px;
}

.flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
    height: 50vh;
    width: 100vw;
    flex-grow: 4;
}

.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Code for switch */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input{
    width: 100%;
  }
  
.switch{
  flex-direction: row;
  text-align: center;
  position: relative;
  width: 200px;
  height: 50px;
  background-color: rgb(25, 100, 35);
  border-radius: 50px;
  color: #fff;
}
.switch label{
  width:100%;
  height:100%;
  z-index:1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#active-label{
  position: absolute;
  left:0;
  width: 34%;
  height: 100%;
  background: #14142a;
  border: 1px solid #fff;
  border-radius: 30px;
  opacity: .5;
  transition: .5s left ease;
}

#switch-left:checked ~ #active-label{
  left:0;
}
#switch-no:checked ~ #active-label{
  left:34%;
}
#switch-right:checked ~ #active-label {
  left:66%;
}